# Dependecies
node_modules/

# Debugging
debug_screenshots/
*.log
test_results.json
data-part-*.json

# Typos/Junk
cls

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dumps
*.html
*.png
qa_report.json
